.homePage{
  background-color: #f0f2f5;
  margin-top: 80px;
}

  
  .paper {
    position: relative;
    height: 200px;
    width: 130px;
    margin-left: 10px;
    box-shadow: 1px 2px 5px black !important;
    border-radius: 5px !important;
    margin-top: 30px;
  }
  .imgStory {
    width: 100%;
    height: 100%;
     object-fit: cover;
    border-radius: 5px;
  }
  .userProfileName{
    color: black;
  text-decoration: none;
  }

  .searchBox{
   
    border: 2px solid black;
    box-shadow: 1px 2px 5px black;
    background-color: white;
    width: 24em;
    height: 14vh;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
  }
  .searchSection{
    display: grid;
    justify-content: center;
  }
  .searchBar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
  }
  .searchInputpost{
    color: inherit;
    display: flex;
    align-items: center;
    width: 80%;
    border: none;
    border-radius: 20px;
    background-color: #f0f2f5;
    
    
  }
  .searchInputUser{
   
    width: 80%;
    margin-left: 10px;
  }
  .postBox{
    border: 2px solid black;
    box-shadow: 1px 2px 5px black;
    background-color: white;
    width: 24em;
    height: 98%;
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    
  }
  .postSection{
    display: grid;
    justify-content: center;
  }
  .accountPostBox{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-top: 5px;
    margin-left: 10px;
    width: 95%;
  }
  .userAccount{
    display: flex;
    gap: 1em;
  }
  .moreIconDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .moreIcon{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
  }
  .imgPost{
    display: grid;
    width: 24em;
  }
  #divider{
    margin-top: 5px;
  }
 
  .filterButtons{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }
  #likeDevider{
    margin-top: 10px;
  }
  .postButtons{
    display: flex;
    justify-content:space-around;
  margin-top: 5px;
  }
  .createPostAccount{
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  .textAreaDiv{
    box-shadow: 1px 2px 5px black;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 14vh;
  }
  #createPostBio{
    margin-top: 10px;
    height: 100%;
    border: none;
    margin-left: 10px;
  }
  .createPostBar{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
  }
  .createPostBtn{
    padding: 10px;
    width: 100%;
    margin-top: 16px;
    color: white;
    background-color: #0866FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .countLikeComment{
    display: flex;
    
  }
  .countLike{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .countComment{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .captionForPost{
    margin-top: 5px;
    margin-left: 5px;
  }
  #captionPost{
    font-size: small;
  }
  .commentInputDiv{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  #inputBoxComment{
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .commentsSection{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #headingComment{
    color: gray;
   
  }
  .commentData{
    
    height: 200px; 
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    
  }
  .comment{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    font-weight: normal;
    
    height: 12vh;
    border-radius: 5px;
    border: 1px solid #ccc; 
   
  }
  .CommentAuthor{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .commentH3{
    font-size: 18px;
    font-weight: normal;
    margin-left: 15px;
  }
  .editCommetSection{
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .editCommentDiv{
    margin-left: 10px;
    display: flex;
    gap: 5px;
  }
  .editIconComment{
    color: gray;
    cursor: pointer;
  }
  .deleteIconComment{
    color: gray;
    cursor: pointer;

  }
#inputBoxCommentEdit{
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.createPostModal{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vh;
  height: 80%;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 5px black;
  background-color: white;
  padding: 4;
  display: flex;
  justify-content: center;
}
.addNewpostSection{
  width: 95%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.beforeDisplayImageDiv{
  width: 100%;
  height: 30vh;
  margin-top: 10px;
}
.beforePostImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.loadMoreBTN{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}
.dropdownContent{
  position: absolute;
  margin-top: 30px;
  width: 115px;
}
.accountBox{
  position: relative;
    box-shadow: 1px 2px 5px black;
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}
@media(max-width:600px){
  .searchSection{
    width: 100%;
  }
  .searchBox{
    width: 100%;
  }
  .postSection{
    width: 100%;
    margin-top: 15px;
    height:90vh;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
  }
  .postBox{
    width: 100%;
    height: 100%;
  }
  .imgPost{
    width: 100%;;
  }
  .createPostModal{
    width: 90%;
    height: 72%;
  }
  .beforeDisplayImageDiv{
    height: 20vh;
    
  }
}

